body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.menu{

    width: 100%;
    height: 50px;
    background-color: aliceblue;
}
.menu ul{
    display: flex;
    position: absolute;
    right: 260px;
    list-style: none;
}
.menu li{
    margin-left: 40%;

}
.menu li a{
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform : capitalize;
    font-family: sans-serif;
}
.menu li a:hover{
    color: #ff675f;
}
.menu li .active{
    text-decoration: underline;
    text-decoration-color : #5ebfc8;
    text-decoration-thickness : 2px ; 
}
